{% extends 'base.html' %}
{% load static %}
{% block title %}
Search Book
{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}
<section class="container">
    {% if user.is_authenticated %}
      <h2 class="center-align">{{ user.first_name }}, want to find some books?</h2>
    {% else %}
      <h2 class="center-align">Want to find some books?</h2>
    {% endif %}
    <div class="nav-wrapper">
        <form id="searchForm">
          <nav>
              <div class="input-field">
                <input id="search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
          </nav>
        </form>
    </div>
    <table class="responsive-table">
        <thead>
          <tr>
              <th><p>Title</p></th>
              <th><p>Author</p></th>
              <th><p>Publisher</p></th>
              <th><p>Image</p></th>
          </tr>
        </thead>

        <tbody class="table-body">
            
        </tbody>
      </table>
</section>
{% endblock %}