p {
    overflow-wrap: break-word;
}
body.light{
    transition:.3s ease;
    background-color: #c9d99e;
}

body.dark{
    transition:.3s ease;
    background-color: #2b2b28;
}

section {
    padding-top: 2vh;
}

.nav-wrapper {
    margin-bottom: 2vh;
    font-weight: bold;
}

.switch label{
    font-weight: bold;;
}

.light .switch label {
    color: black;
}

.light .fp img {
    box-shadow: 0px 0px 25px 3px rgba(92,92,92,1);
}

.light h3.ui-state-default {
    background-color: #caf2d7 ;
}

.light h3.ui-state-active {
    background-color: #60a9a6 ;
    border: #caf2d7;
}

.light .nav-wrapper{
    background-color: #212121;
}
.light .nav-wrapper div{
    background-color: #212121;
}
.light .nav-wrapper li a{
    color: #f8f8f8;
}


.dark .switch label {
    color: white;
}

.dark .fp img {
    filter: grayscale(50%);
    box-shadow: 0px 0px 25px 3px rgba(112,169,90,1);
}

.dark .fp img:hover{
    filter: grayscale(0%);
}

.dark h3.ui-state-default {
    background-color: #f1d6ab ;
}

.dark h3.ui-state-active {
    background-color: #e3b04b ;
    border: #f1d6ab;
}

.dark .nav-wrapper {
    background-color: #007944;
}

.dark .nav-wrapper li a{
    color: #212121;
}

#accordion > div ul > li{
    list-style-type: disc;
}

#accordion>h3 ~ div{
    background-color: #f2eee5;
}

div.fp {
    text-align: center;
}

.fp img {
    max-width: 50%;
    border-radius: 20px;
    
}

th {
    background-color: rgba(92,92,92,.5);
    text-align: center;
}

th p{
    margin: 0;
}

td div {
    overflow-wrap: break-word;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

section.signup .input-field label, section.login .input-field label{
    color: #212121;
}