{% extends 'base.html' %}
{% load static %}

{% block title %}
Index
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<section class="container section center-align">
    {% if user.is_authenticated %}
        <h2 class="center-align">How was your day {{ user.first_name }}?</h2>
    {% else %}
        <h2 class="center-align">How was your day?</h2>
    {% endif %}
    <form action="{% url 'story6:index' %}" method="post">
        {% csrf_token %}
        {% for form in forms %}
            <div class="input-field">
                {{ form }}
                {{ form.label_tag }}
            </div>
        {% endfor %}
        
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>

    {% if status_list.count > 0 %}
        <div class="row">
            <div class="col m4">
                <p>
                    Status
                </p>
            </div>
            <div class="col m4">
                <p>
                    Created Date
                </p>
            </div>
            <div class="col m4">
                <p>
                    Created Time
                </p>
            </div>
        </div>
        {% for status in status_list %}
            <div class="row">
                <div class="col m4">
                    <p class="status_detail">
                        {{ status.status }}
                    </p>
                </div>
                <div class="col m4">
                    <p>
                        {{ status.date }}
                    </p>
                </div>
                <div class="col m4">
                    <p>
                        {{ status.time }}
                    </p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</section>
{% endblock %}