{% extends 'base.html' %}

{% block title %}
Log In
{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}
<section class="container login">
  <h2>Log in to My Website</h2>
  {% if form.errors %}
    <p style="font-weight:bold; color: red">Your username and password didn't match. Please try again.</p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% for field in form %}
      <div class="input-field">
        {{ field }}
        {{ field.label_tag }}
      </div>
    {% endfor %}
    <button class="btn waves-effect waves-light" type="submit" name="action">Login
      <i class="material-icons right">send</i>
    </button>
    <a class="waves-effect waves-light btn" href="{% url 'story9:signup' %}">Sign up</a>
  </form>
</section>
{% endblock %}