{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static './css/materialize.css' %}">
    <link rel="stylesheet" href="{% static './css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static './css/jquery-ui.structure.css' %}">
    <link rel="stylesheet" href="{% static './css/jquery-ui.theme.css' %}">
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <script src="{% static './js/jquery-3.4.1.js' %}"></script>
    <script src="{% static './js/jquery-ui.js' %}"></script>
    <script src="{% static './js/materialize.js' %}"></script>
    <script src="{% static './js/script.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="light">
    {% block navbar %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
</body>
</html>