<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
        <ul class=" hide-on-small">
            <li><a href="{% url 'story6:index' %}">Status</a></li>
            <li><a href="{% url 'story7:home' %}">Profile</a></li>
            <li><a href="{% url 'story8:book_index' %}">Books</a></li>
            {% if user.is_authenticated %}
            <li class="grey darken-3"><a href="{% url 'story9:logout' %}">Logout</a></li>
            {% else %}
            <li class="grey darken-3"><a href="{% url 'story9:login' %}">Login</a></li>
            <li class="grey darken-3"><a href="{% url 'story9:signup' %}">Sign Up</a></li>
            {% endif %}
        </ul>
        </div>
    </nav>
</div>