{% extends 'base.html' %}
{% load static %}
{% block title %}
Profile
{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col m12 center">
            <div class="switch">
                <label class="lb">
                    Light
                <input type="checkbox" class="cb">
                <span class="lever"></span>
                    Dark
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="fp col m12">
            <img class="" src="{% static './story7/zuh.jpg' %}" alt="zuh">
        </div>
    </div>
    <div class="row">
        <div class="col m12">
            <div id="accordion">
                <h3 class="header">
                    Activities
                </h3>
                <div>
                    <ul>
                        <li>Learning</li>
                        <li>Playing Games</li>
                        <li>Watching Youtube Videos & Films</li>
                    </ul>
                </div>
                <h3>
                    Organizations & Committees
                </h3>
                <div>
                    <ul>
                        <li>Staff of Business and Partnership in BEM Fasilkom UI</li>
                        <li>Staff of Games Division in CGT Batllefield</li>
                        <li>Staff of Mentor in PMB Fasilkom UI</li>
                    </ul>
                </div>
                <h3>
                    Achievements
                </h3>
                <div>
                    <ul>
                        <li>Accepted in Faculty of Computer Science at University of Indonesia</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}