{% extends 'base.html' %}

{% block title %}
Account
{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}
<section class="container account center">
    <h3>Hello {{ user.first_name }} {{ user.last_name }}</h2>
    <p>It is your username : {{ user.username }}</p>
</section>
{% endblock %}