{% extends 'base.html' %}

{% block title %}
Sign Up
{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}
<section class="container signup">
    <h2>Sign up</h2>
    <form method="post">
        {% csrf_token %}
        <div>

            {% for field in form %}
                <div class="input-field">
                {{ field }}
                {{ field.label_tag }}
                </div>
                {% if field.help_text %}
                    <small style="color: #10316b">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p class="text-red text-accent-3">{{ error }}</p>
                {% endfor %}
            {% endfor %}
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Sign Up
        <i class="material-icons right">send</i>
        </button>
    </form>
</section>
{% endblock %}